<%- include("header") -%>
<h2>Jason Hamel is an aspiring full stack developer</h2>

<p>
  He made this following a guide on Udemy. But the guide has lots of issues.
</p>
<p>Some credit is deserved for getting this working in spite of that.</p>
<%- include("footer") -%>
